@charset "utf-8";
/* CSS Document */

.fondo {
	background: #006DB3;
	width: 100%;
	height: 360px;
	display: flex;
}
.slot{
	flex: left;
	margin: 20px 20px 20px 20px;
	border: solid 3px;
	border-color: white;
	padding: 10px 10px 10px 10px;
	width: 20%;
	height: 310px;
	
}
.slottxt{
	background: white;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.slotimg{
	text-align: center;
	
}

.producto{
	width: 250px;
	height: 250px;
}
.algunosproductos{
	width: 100%;
	height: 100%;
}